.user-details-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .user-details {
    display: flex;
    align-items: flex-start;
  }
  
  .user-name {
    padding-left: 20px;
  }
  .user-name p {
    color: #7e7e7e;
  }
  .edit-profile-btn {
    padding: 8px 10px;
    border: solid 1px #7e7e7e;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  .edit-profile-btn:hover {
    background-color: #f5f9fc;
  }
  .edit-profile-title {
    padding: 20px 0px;
    border-bottom: solid 1px #dbd9d9;
  }
  .edit-profile-title-2 {
    color: grey;
    font-weight: 400;
  }
  .edit-profile-form {
    padding: 20px;
    border: solid 1px #dbd9d9;
    border-radius: 5px;
  }
  .edit-profile-form label h3 {
    margin: 0%;
    padding: 3px 0px;
  }
  .edit-profile-form label p {
    margin: 0%;
    padding: 3px 0px;
  }
  .edit-profile-form label input,
  .edit-profile-form label textarea {
    padding: 5px;
    margin-bottom: 20px;
    border: solid 1px #dbd9d9;
    width: 50%;
  }
  
  .user-submit-btn {
    padding: 14px 10px;
    background-color: #0a95ff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .user-submit-btn:hover {
    background-color: #0074cc;
  }
  
  .user-cancel-btn {
    padding: 14px 10px;
    color: #0a95ff;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  
/* UserProfile.css */
.location-btn {
  background-color: #008CBA; /* Blue background */
  border: 2px solid #005f73; /* Darker blue border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 14px; /* Font size */
  margin: 8px 4px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

.location-btn:hover {
  background-color: #005f73; /* Darker blue on hover */
  border-color: #003f5c; /* Even darker blue border on hover */
}